h2{
    margin-bottom: 12px;
}
.screen{
    position: relative;
    width: calc(100% - 400px);
    height: 48px;
    background-color: #333;
    margin-inline: 200px;
    color: white;
    border-radius: 11px;
    align-content: center;
    text-align: center;
    font-size: 16pt;
    font-weight: 700;
}
.seats-panel{
    position: relative;
    margin-inline: 76px;
    margin-bottom: 24px;
    width: calc(100% - 2*76px);
    height: calc(100% - 72px);
    display: flex;
    justify-content: center;
}
.seats-panel img{
    width: 49px;
    margin-right: -18px;
    position: relative;
    cursor: pointer;
}
.seats-panel img:hover{
    filter: invert(0.4) sepia(1) saturate(3) hue-rotate(312deg);
}
.seat-box{
    position: relative;
    float: left;
    margin-inline: 12px;
    width: calc(20% - 2*12px);
}

.main-panel-detail{
    position: relative;
}
.main-panel-footer{
    position: relative;
    height: calc(36% - 116px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-elements{
    position: relative;
    float: left;
    width: 70%;
    height: 100%;
    align-content: center;
    color: white;
}

.buttons{
    position: relative;
    float: left;
    width: 10%;
}

.color{
    position: relative;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20px;
    font-weight: 300;
}


#continuar-asientos{
    margin-left: 14px;
    border: 1px solid rgba(255, 255, 255, 0);
    cursor: pointer;
    height: 48px;
    width: 114px;
    font-weight: bolder;
    background: var(--red);
    color: white;
    border-radius: 8px;
    transition: 150ms;
}
#continuar-asientos:hover{
    background: #ff2525;
    border: 1px solid white;
    transition: 150ms;
}